
* {
   font-family: "Amiri", sans-serif;
}
ul{
   list-style-type: none;
   text-align: center;
  font-size: 40px;
  font-weight: bold;
 
}

h1{
text-align: center;
}

div {
  
  display: flex;
  text-align: center;
  justify-content: center; /* Align horizontally */
  font-size: 30px/* Full viewport height (optional) */
}

div::first-letter {
color: red;
}
