* {
   font-family: "Amiri", sans-serif;
}
ul{
  font-size: 40px;
  font-weight: bold;
   list-style-type: none;
    text-align: center;
 
}

h1{
text-align: center;
   font-size: 50px;
   font-weight: bold;
}

div {
  
  display: flex;
  text-align: center;
  justify-content: center; /* Align horizontally */
  font-size: 30px/* Full viewport height (optional) */
}

.Bnote
{
    background-color: orange;
   font-size: 25px;
}
